body {
  background-image: url("img/fondo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  font-family: 'Open Sans','Arial';
}
a.btn {
  background-color: rgb(255, 77, 77, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  float: none;
  margin-bottom: auto;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  color: rgb(152,228,220);
}
.btn {
  border-radius: 10px;
  background-color: rgb(179, 255, 240, 0.8);
  padding: 10px 20px;
  float: right;
  margin-right: 790px;
}

#maincuerpo {
  margin-top: 30px;
  margin-bottom: 30px;
  background: radial-gradient(white, gray, white, gray);
  width: 1000px;
  margin: auto;
}

footer {
  background-color: #2f2f2f;
  color: #fff;
  height: 50px;
}
img {
  margin-top: 7px;
  border-radius: 30px;
  position: relative;
  left: 7%;
}
.nombre{
  color: red;
  font-size:20px;
}
.video {
  text-align: center;
}

section {
  padding: 25px;
}
.primo {
  margin-top: 0px;
  border-radius: 0px;
  position:static;
}

h1{
	text-align: center;
  font-size:40px;
  padding:10px 20px 10px 20px;
  margin: auto;
 }
 ul{
   list-style-type: none;
 }
 li{
   color: white;
 }
#sinopsis{

  color:red;
  border-color:blue;
  border: width 10px;





}