a.btn{
	background-color:rgb(255, 77, 77,0.8);
	color:white;
	padding: 10px 20px;
	border-radius: 5px;
    float: none;
    margin-bottom: auto;
    text-decoration: none;
    display: inline-block;
}
.btn{
	border-radius: 10px;
	background-color: rgb(179, 255, 240,0.8);
	padding: 10px 20px;
	float: right;
	margin-right: 790px;

}
main{
	background-color:rgb(0,102,128);
	margin: 25px;
	padding: 25px;
	font-size: 20px;
		}
